<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Osama Files</title>
    <!-- Icons File -->
    <link rel="stylesheet" href="./all.min.css">
    <!-- TailwindCSS File -->
    <link rel="stylesheet" href="css/styles.css">
</head>
<body class="font-fontbody grid grid-cols-12 bg-slate-100">

    <header class="grid col-span-2 content-start bg-white shadow-xl z-10">
        <h1 class="logo">osama</h1>
        <div class="text-center my-[3rem] text-xl capitalize px-4 sm:px-2">
            <a href="./dashboard.html" class="a"><i class="fa-solid fa-chart-bar fa-fw ml-2"></i><span class="sidebar-mobile ml-2">dashboard</span></a>
            <a href="./settings.html" class="a"><i class="fa-solid fa-gear fa-fw ml-2"></i><span class="sidebar-mobile ml-2">settings</span></a>
            <a href="./profile.html" class="a"><i class="fa-regular fa-user fa-fw ml-2"></i><span class="sidebar-mobile ml-2">profile</span></a>
            <a href="./projects.html" class="a"><i class="fa-solid fa-diagram-project fa-fw ml-2"></i><span class="sidebar-mobile ml-2">projects</span></a>
            <a href="./courses.html" class="a"><i class="fa-solid fa-graduation-cap fa-fw ml-2"></i><span class="sidebar-mobile ml-2">courses</span></a>
            <a href="./friends.html" class="a"><i class="fa-solid fa-user-group fa-fw ml-2"></i><span class="sidebar-mobile ml-2">friends</span></a>
            <a href="./files.html" class="a active"><i class="fa-regular fa-file fa-fw ml-2"></i><span class="sidebar-mobile ml-2">files</span></a>
            <a href="./plans.html" class="a"><i class="fa-solid fa-pager fa-fw ml-2"></i><span class="sidebar-mobile ml-2">plans</span></a>
        </div>
    </header>

    
<section class="main-section p-4 col-start-3 col-span-10" >
    
    <header class="bg-white flex items-center justify-between h-[5rem] px-[1rem] -m-4">
        <input type="search" placeholder="type a keyword" class="rounded-xl placeholder:capitalize pl-12 border-gray-300 relative">
        <i class="fa-solid fa-magnifying-glass absolute px-4 text-gray-400"></i>
        <div class="flex items-center justify-center relative before:content-[''] before:absolute before:w-[10px] before:h-[10px] before:bg-red-600 before:rounded-full before:top-0 before:left-[5px]">
            <i class="fa-solid fa-bell mr-3"></i>
            <img src="../image/avatar-01.png" class="h-[30px] w-[30px] rounded-full" alt="">
        </div>
    </header>

    <div class="section-1 mt-8">
        <h1 class="head-page before:w-[calc(100%_-_1rem)] after:w-[1.5rem]">files</h1>
    </div>

    <div class="section-2 mt-8 files">
        <div class="grid-files">
            <div class="card">
                <i class="fa-solid fa-download text-xl text-gray-400 cursor-pointer"></i>
                <div class="text-center">
                    <i class="fa-solid fa-file-pdf text-5xl mb-4 text-red-500"></i>
                    <h1>my-file.pdf</h1>
                </div>
                <p class="text-gray-400 mt-4">osama</p>
                <div class="text-gray-400 flex items-center justify-between flex-wrap border-t pt-2 mt-2">
                    <p>20/06/2020</p>
                    <p>5.5MB</p>
                </div>
            </div>

            <div class="card">
                <i class="fa-solid fa-download text-xl text-gray-400 cursor-pointer"></i>
                <div class="text-center">
                    <i class="fa-solid fa-file-pdf text-5xl mb-4 text-rose-500"></i>
                    <h1>my-file.avi</h1>
                </div>
                <p class="text-gray-400 mt-4">admin</p>
                <div class="text-gray-400 flex items-center justify-between flex-wrap border-t pt-2 mt-2">
                    <p>16/05/2021</p>
                    <p>12.5MB</p>
                </div>
            </div>

            <div class="card">
                <i class="fa-solid fa-download text-xl text-gray-400 cursor-pointer"></i>
                <div class="text-center">
                    <i class="fa-solid fa-file-pdf text-5xl mb-4 text-yellow-500"></i>
                    <h1>my-file.eps</h1>
                </div>
                <p class="text-gray-400 mt-4">uploader</p>
                <div class="text-gray-400 flex items-center justify-between flex-wrap border-t pt-2 mt-2">
                    <p>20/06/2020</p>
                    <p>5.5MB</p>
                </div>
            </div>

            <div class="card">
                <i class="fa-solid fa-download text-xl text-gray-400 cursor-pointer"></i>
                <div class="text-center">
                    <i class="fa-solid fa-file-pdf text-5xl mb-4 text-blue-300"></i>
                    <h1>my-file.psd</h1>
                </div>
                <p class="text-gray-400 mt-4">osama</p>
                <div class="text-gray-400 flex items-center justify-between flex-wrap border-t pt-2 mt-2">
                    <p>20/06/2020</p>
                    <p>5.5MB</p>
                </div>
            </div>

            <div class="card">
                <i class="fa-solid fa-download text-xl text-gray-400 cursor-pointer"></i>
                <div class="text-center">
                    <i class="fa-solid fa-file-pdf text-5xl mb-4 text-gray-500"></i>
                    <h1>my-file.dll</h1>
                </div>
                <p class="text-gray-400 mt-4">coder</p>
                <div class="text-gray-400 flex items-center justify-between flex-wrap border-t pt-2 mt-2">
                    <p>20/06/2020</p>
                    <p>5.5MB</p>
                </div>
            </div>

            <div class="card">
                <i class="fa-solid fa-download text-xl text-gray-400 cursor-pointer"></i>
                <div class="text-center">
                    <i class="fa-solid fa-file-pdf text-5xl mb-4 text-purple-500"></i>
                    <h1>my-file.png</h1>
                </div>
                <p class="text-gray-400 mt-4">designer</p>
                <div class="text-gray-400 flex items-center justify-between flex-wrap border-t pt-2 mt-2">
                    <p>20/06/2020</p>
                    <p>5.5MB</p>
                </div>
            </div>

            <div class="card">
                <i class="fa-solid fa-download text-xl text-gray-400 cursor-pointer"></i>
                <div class="text-center">
                    <i class="fa-solid fa-file-pdf text-5xl mb-4 text-red-500"></i>
                    <h1>my-file.pdf</h1>
                </div>
                <p class="text-gray-400 mt-4">osama</p>
                <div class="text-gray-400 flex items-center justify-between flex-wrap border-t pt-2 mt-2">
                    <p>20/06/2020</p>
                    <p>5.5MB</p>
                </div>
            </div>

            <div class="card">
                <i class="fa-solid fa-download text-xl text-gray-400 cursor-pointer"></i>
                <div class="text-center">
                    <i class="fa-solid fa-file-pdf text-5xl mb-4 text-rose-500"></i>
                    <h1>my-file.avi</h1>
                </div>
                <p class="text-gray-400 mt-4">admin</p>
                <div class="text-gray-400 flex items-center justify-between flex-wrap border-t pt-2 mt-2">
                    <p>16/05/2021</p>
                    <p>12.5MB</p>
                </div>
            </div>

            <div class="card">
                <i class="fa-solid fa-download text-xl text-gray-400 cursor-pointer"></i>
                <div class="text-center">
                    <i class="fa-solid fa-file-pdf text-5xl mb-4 text-yellow-500"></i>
                    <h1>my-file.eps</h1>
                </div>
                <p class="text-gray-400 mt-4">uploader</p>
                <div class="text-gray-400 flex items-center justify-between flex-wrap border-t pt-2 mt-2">
                    <p>20/06/2020</p>
                    <p>5.5MB</p>
                </div>
            </div>

            <div class="card">
                <i class="fa-solid fa-download text-xl text-gray-400 cursor-pointer"></i>
                <div class="text-center">
                    <i class="fa-solid fa-file-pdf text-5xl mb-4 text-blue-300"></i>
                    <h1>my-file.psd</h1>
                </div>
                <p class="text-gray-400 mt-4">osama</p>
                <div class="text-gray-400 flex items-center justify-between flex-wrap border-t pt-2 mt-2">
                    <p>20/06/2020</p>
                    <p>5.5MB</p>
                </div>
            </div>

            <div class="card">
                <i class="fa-solid fa-download text-xl text-gray-400 cursor-pointer"></i>
                <div class="text-center">
                    <i class="fa-solid fa-file-pdf text-5xl mb-4 text-gray-500"></i>
                    <h1>my-file.dll</h1>
                </div>
                <p class="text-gray-400 mt-4">coder</p>
                <div class="text-gray-400 flex items-center justify-between flex-wrap border-t pt-2 mt-2">
                    <p>20/06/2020</p>
                    <p>5.5MB</p>
                </div>
            </div>

            <div class="card">
                <i class="fa-solid fa-download text-xl text-gray-400 cursor-pointer"></i>
                <div class="text-center">
                    <i class="fa-solid fa-file-pdf text-5xl mb-4 text-purple-500"></i>
                    <h1>my-file.png</h1>
                </div>
                <p class="text-gray-400 mt-4">designer</p>
                <div class="text-gray-400 flex items-center justify-between flex-wrap border-t pt-2 mt-2">
                    <p>20/06/2020</p>
                    <p>5.5MB</p>
                </div>
            </div>

            <div class="card">
                <i class="fa-solid fa-download text-xl text-gray-400 cursor-pointer"></i>
                <div class="text-center">
                    <i class="fa-solid fa-file-pdf text-5xl mb-4 text-red-500"></i>
                    <h1>my-file.pdf</h1>
                </div>
                <p class="text-gray-400 mt-4">osama</p>
                <div class="text-gray-400 flex items-center justify-between flex-wrap border-t pt-2 mt-2">
                    <p>20/06/2020</p>
                    <p>5.5MB</p>
                </div>
            </div>

            <div class="card">
                <i class="fa-solid fa-download text-xl text-gray-400 cursor-pointer"></i>
                <div class="text-center">
                    <i class="fa-solid fa-file-pdf text-5xl mb-4 text-rose-500"></i>
                    <h1>my-file.avi</h1>
                </div>
                <p class="text-gray-400 mt-4">admin</p>
                <div class="text-gray-400 flex items-center justify-between flex-wrap border-t pt-2 mt-2">
                    <p>16/05/2021</p>
                    <p>12.5MB</p>
                </div>
            </div>

            <div class="card">
                <i class="fa-solid fa-download text-xl text-gray-400 cursor-pointer"></i>
                <div class="text-center">
                    <i class="fa-solid fa-file-pdf text-5xl mb-4 text-yellow-500"></i>
                    <h1>my-file.eps</h1>
                </div>
                <p class="text-gray-400 mt-4">uploader</p>
                <div class="text-gray-400 flex items-center justify-between flex-wrap border-t pt-2 mt-2">
                    <p>20/06/2020</p>
                    <p>5.5MB</p>
                </div>
            </div>

            <div class="card">
                <i class="fa-solid fa-download text-xl text-gray-400 cursor-pointer"></i>
                <div class="text-center">
                    <i class="fa-solid fa-file-pdf text-5xl mb-4 text-blue-300"></i>
                    <h1>my-file.psd</h1>
                </div>
                <p class="text-gray-400 mt-4">osama</p>
                <div class="text-gray-400 flex items-center justify-between flex-wrap border-t pt-2 mt-2">
                    <p>20/06/2020</p>
                    <p>5.5MB</p>
                </div>
            </div>

            <div class="card">
                <i class="fa-solid fa-download text-xl text-gray-400 cursor-pointer"></i>
                <div class="text-center">
                    <i class="fa-solid fa-file-pdf text-5xl mb-4 text-gray-500"></i>
                    <h1>my-file.dll</h1>
                </div>
                <p class="text-gray-400 mt-4">coder</p>
                <div class="text-gray-400 flex items-center justify-between flex-wrap border-t pt-2 mt-2">
                    <p>20/06/2020</p>
                    <p>5.5MB</p>
                </div>
            </div>

            <div class="card">
                <i class="fa-solid fa-download text-xl text-gray-400 cursor-pointer"></i>
                <div class="text-center">
                    <i class="fa-solid fa-file-pdf text-5xl mb-4 text-purple-500"></i>
                    <h1>my-file.png</h1>
                </div>
                <p class="text-gray-400 mt-4">designer</p>
                <div class="text-gray-400 flex items-center justify-between flex-wrap border-t pt-2 mt-2">
                    <p>20/06/2020</p>
                    <p>5.5MB</p>
                </div>
            </div>

            <div class="card">
                <i class="fa-solid fa-download text-xl text-gray-400 cursor-pointer"></i>
                <div class="text-center">
                    <i class="fa-solid fa-file-pdf text-5xl mb-4 text-red-500"></i>
                    <h1>my-file.pdf</h1>
                </div>
                <p class="text-gray-400 mt-4">osama</p>
                <div class="text-gray-400 flex items-center justify-between flex-wrap border-t pt-2 mt-2">
                    <p>20/06/2020</p>
                    <p>5.5MB</p>
                </div>
            </div>

            <div class="card">
                <i class="fa-solid fa-download text-xl text-gray-400 cursor-pointer"></i>
                <div class="text-center">
                    <i class="fa-solid fa-file-pdf text-5xl mb-4 text-rose-500"></i>
                    <h1>my-file.avi</h1>
                </div>
                <p class="text-gray-400 mt-4">admin</p>
                <div class="text-gray-400 flex items-center justify-between flex-wrap border-t pt-2 mt-2">
                    <p>16/05/2021</p>
                    <p>12.5MB</p>
                </div>
            </div>

            <div class="card">
                <i class="fa-solid fa-download text-xl text-gray-400 cursor-pointer"></i>
                <div class="text-center">
                    <i class="fa-solid fa-file-pdf text-5xl mb-4 text-yellow-500"></i>
                    <h1>my-file.eps</h1>
                </div>
                <p class="text-gray-400 mt-4">uploader</p>
                <div class="text-gray-400 flex items-center justify-between flex-wrap border-t pt-2 mt-2">
                    <p>20/06/2020</p>
                    <p>5.5MB</p>
                </div>
            </div>

            <div class="card">
                <i class="fa-solid fa-download text-xl text-gray-400 cursor-pointer"></i>
                <div class="text-center">
                    <i class="fa-solid fa-file-pdf text-5xl mb-4 text-blue-300"></i>
                    <h1>my-file.psd</h1>
                </div>
                <p class="text-gray-400 mt-4">osama</p>
                <div class="text-gray-400 flex items-center justify-between flex-wrap border-t pt-2 mt-2">
                    <p>20/06/2020</p>
                    <p>5.5MB</p>
                </div>
            </div>

            <div class="card">
                <i class="fa-solid fa-download text-xl text-gray-400 cursor-pointer"></i>
                <div class="text-center">
                    <i class="fa-solid fa-file-pdf text-5xl mb-4 text-gray-500"></i>
                    <h1>my-file.dll</h1>
                </div>
                <p class="text-gray-400 mt-4">coder</p>
                <div class="text-gray-400 flex items-center justify-between flex-wrap border-t pt-2 mt-2">
                    <p>20/06/2020</p>
                    <p>5.5MB</p>
                </div>
            </div>

            <div class="card">
                <i class="fa-solid fa-download text-xl text-gray-400 cursor-pointer"></i>
                <div class="text-center">
                    <i class="fa-solid fa-file-pdf text-5xl mb-4 text-purple-500"></i>
                    <h1>my-file.png</h1>
                </div>
                <p class="text-gray-400 mt-4">designer</p>
                <div class="text-gray-400 flex items-center justify-between flex-wrap border-t pt-2 mt-2">
                    <p>20/06/2020</p>
                    <p>5.5MB</p>
                </div>
            </div>
        </div>

        <div class="card h-fit">
            <h1 class="head-card mb-4">files statistics</h1>
            <div class="flex items-center border p-2">
                <i class="fa-solid fa-file-pdf py-5 px-6 bg-blue-200 text-blue-600"></i>
                <div class="flex items-center justify-between ml-2 w-full">
                    <div>
                        <h2>PDF files</h2>
                        <p class="text-gray-400">130</p>
                    </div>
                    <div>
                        <p class="text-gray-400">6.5GB</p>
                    </div>
                </div>
            </div>

            <div class="flex items-center border p-2 my-4">
                <i class="fa-solid fa-file-pdf py-5 px-6 bg-green-200 text-green-600"></i>
                <div class="flex items-center justify-between ml-2 w-full">
                    <div>
                        <h2>images</h2>
                        <p class="text-gray-400">115 files</p>
                    </div>
                    <p class="text-gray-400">3.5GB</p>
                </div>
            </div>

            <div class="flex items-center border p-2 my-4">
                <i class="fa-solid fa-file-pdf py-5 px-6 bg-red-200 text-red-600"></i>
                <div class="flex items-center justify-between ml-2 w-full">
                    <div>
                        <h2>word files</h2>
                        <p class="text-gray-400">110 files</p>
                    </div>
                    <p class="text-gray-400">3.2GB</p>
                </div>
            </div>

            <div class="flex items-center border p-2">
                <i class="fa-solid fa-file-pdf py-5 px-6 bg-orange-100 text-orange-600"></i>
                <div class="flex items-center justify-between ml-2 w-full">
                    <div>
                        <h2>CSV files</h2>
                        <p class="text-gray-400">99 files</p>
                    </div>
                    <p class="text-gray-400">2.9GB</p>
                </div>
            </div>

            <div class="my-6 text-center">
                <a href="#" class="bg-blue-500 text-white py-1 px-3 rounded-lg"><i class="fa-solid fa-angles-up mr-2"></i><span>upload</span></a>
            </div>
        </div>
    </div>
</section>
</body>
</html>

