<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Osama Friends</title>
    <!-- Icons File -->
    <link rel="stylesheet" href="./all.min.css" />
    <!-- TailwindCSS File -->
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body class="font-fontbody grid grid-cols-12 bg-slate-100">
    <header class="grid col-span-2 content-start bg-white shadow-xl z-10">
      <h1 class="logo">osama</h1>
      <div class="text-center my-[3rem] text-xl capitalize px-4 sm:px-2">
        <a href="./index.html" class="a"
          ><i class="fa-solid fa-chart-bar fa-fw ml-2"></i
          ><span class="sidebar-mobile ml-2">dashboard</span></a
        >
        <a href="./settings.html" class="a"
          ><i class="fa-solid fa-gear fa-fw ml-2"></i
          ><span class="sidebar-mobile ml-2">settings</span></a
        >
        <a href="./profile.html" class="a"
          ><i class="fa-regular fa-user fa-fw ml-2"></i
          ><span class="sidebar-mobile ml-2">profile</span></a
        >
        <a href="./projects.html" class="a"
          ><i class="fa-solid fa-diagram-project fa-fw ml-2"></i
          ><span class="sidebar-mobile ml-2">projects</span></a
        >
        <a href="./courses.html" class="a"
          ><i class="fa-solid fa-graduation-cap fa-fw ml-2"></i
          ><span class="sidebar-mobile ml-2">courses</span></a
        >
        <a href="./friends.html" class="a active"
          ><i class="fa-solid fa-user-group fa-fw ml-2"></i
          ><span class="sidebar-mobile ml-2">friends</span></a
        >
        <a href="./files.html" class="a"
          ><i class="fa-regular fa-file fa-fw ml-2"></i
          ><span class="sidebar-mobile ml-2">files</span></a
        >
        <a href="./plans.html" class="a"
          ><i class="fa-solid fa-pager fa-fw ml-2"></i
          ><span class="sidebar-mobile ml-2">plans</span></a
        >
      </div>
    </header>

    <section class="main-section p-4 col-start-3 col-span-10">
      <header
        class="bg-white flex items-center justify-between h-[5rem] px-[1rem] -m-4"
      >
        <input
          type="search"
          placeholder="type a keyword"
          class="rounded-xl placeholder:capitalize pl-12 border-gray-300 relative"
        />
        <i class="fa-solid fa-magnifying-glass absolute px-4 text-gray-400"></i>
        <div
          class="flex items-center justify-center relative before:content-[''] before:absolute before:w-[10px] before:h-[10px] before:bg-red-600 before:rounded-full before:top-0 before:left-[5px]"
        >
          <i class="fa-solid fa-bell mr-3"></i>
          <img
            src="../image/avatar-01.png"
            class="h-[30px] w-[30px] rounded-full"
            alt=""
          />
        </div>
      </header>

      <div class="section-1 mt-8">
        <h1 class="head-page">friends</h1>
      </div>

      <div class="section-2 grid-custom mt-8">
        <div class="card">
          <div class="my-4 text-center">
            <img
              src="../image/avatar-01.png"
              alt="avatar"
              class="mx-auto rounded-full w-[100px]"
            />
            <h1 class="font-bold mt-2">ahmed nasser</h1>
            <p class="text-gray-400">javaScript developer</p>
          </div>
          <div class="py-4 border-y">
            <p>
              <i class="fa-regular fa-face-smile"></i
              ><span class="ml-2">99 friends</span>
            </p>
            <p class="my-2">
              <i class="fa-solid fa-paperclip"></i
              ><span class="ml-2">15 projects</span>
            </p>
            <p>
              <i class="fa-regular fa-calendar-days"></i
              ><span class="ml-2">25 articles</span>
            </p>
          </div>
          <div class="flex items-center justify-between mt-4">
            <p class="text-gray-400 text-sm">joined 02/10/2021</p>
            <div class="flex gap-1">
              <a
                href="#"
                class="text-white text-sm py-1 px-3 bg-blue-500 rounded-lg"
                >profile</a
              >
              <a
                href="#"
                class="text-white text-sm py-1 px-3 bg-red-500 rounded-lg"
                >remove</a
              >
            </div>
          </div>
        </div>

        <div class="card">
          <div class="my-4 text-center">
            <img
              src="../image/avatar-02.png"
              alt="avatar"
              class="mx-auto rounded-full w-[100px]"
            />
            <h1 class="font-bold mt-2">omar fathy</h1>
            <p class="text-gray-400">cloud developer</p>
          </div>
          <div class="py-4 border-y">
            <p>
              <i class="fa-regular fa-face-smile"></i
              ><span class="ml-2">99 friends</span>
            </p>
            <p class="my-2">
              <i class="fa-solid fa-paperclip"></i
              ><span class="ml-2">15 projects</span>
            </p>
            <p>
              <i class="fa-regular fa-calendar-days"></i
              ><span class="ml-2">25 articles</span>
            </p>
          </div>
          <div class="flex items-center justify-between mt-4">
            <p class="text-gray-400 text-sm">joined 02/10/2021</p>
            <div class="flex gap-1">
              <a
                href="#"
                class="text-white text-sm py-1 px-3 bg-blue-500 rounded-lg"
                >profile</a
              >
              <a
                href="#"
                class="text-white text-sm py-1 px-3 bg-red-500 rounded-lg"
                >remove</a
              >
            </div>
          </div>
        </div>

        <div class="card">
          <div class="my-4 text-center">
            <img
              src="../image/avatar-03.png"
              alt="avatar"
              class="mx-auto rounded-full w-[100px]"
            />
            <h1 class="font-bold mt-2">omar ahmedr</h1>
            <p class="text-gray-400">mobile developer</p>
          </div>
          <div class="py-4 border-y">
            <p>
              <i class="fa-regular fa-face-smile"></i
              ><span class="ml-2">99 friends</span>
            </p>
            <p class="my-2">
              <i class="fa-solid fa-paperclip"></i
              ><span class="ml-2">15 projects</span>
            </p>
            <p>
              <i class="fa-regular fa-calendar-days"></i
              ><span class="ml-2">25 articles</span>
            </p>
          </div>
          <div class="flex items-center justify-between mt-4">
            <p class="text-gray-400 text-sm">joined 02/10/2021</p>
            <div class="flex gap-1">
              <a
                href="#"
                class="text-white text-sm py-1 px-3 bg-blue-500 rounded-lg"
                >profile</a
              >
              <a
                href="#"
                class="text-white text-sm py-1 px-3 bg-red-500 rounded-lg"
                >remove</a
              >
            </div>
          </div>
        </div>

        <div class="card">
          <div class="my-4 text-center">
            <img
              src="../image/avatar-04.png"
              alt="avatar"
              class="mx-auto rounded-full w-[100px]"
            />
            <h1 class="font-bold mt-2">shady nabil</h1>
            <p class="text-gray-400">back-End developer</p>
          </div>
          <div class="py-4 border-y">
            <p>
              <i class="fa-regular fa-face-smile"></i
              ><span class="ml-2">99 friends</span>
            </p>
            <p class="my-2">
              <i class="fa-solid fa-paperclip"></i
              ><span class="ml-2">15 projects</span>
            </p>
            <p>
              <i class="fa-regular fa-calendar-days"></i
              ><span class="ml-2">25 articles</span>
            </p>
          </div>
          <div class="flex items-center justify-between mt-4">
            <p class="text-gray-400 text-sm">joined 02/10/2021</p>
            <div class="flex gap-1">
              <a
                href="#"
                class="text-white text-sm py-1 px-3 bg-blue-500 rounded-lg"
                >profile</a
              >
              <a
                href="#"
                class="text-white text-sm py-1 px-3 bg-red-500 rounded-lg"
                >remove</a
              >
            </div>
          </div>
        </div>

        <div class="card">
          <div class="my-4 text-center">
            <img
              src="../image/avatar-05.png"
              alt="avatar"
              class="mx-auto rounded-full w-[100px]"
            />
            <h1 class="font-bold mt-2">mohamed ibrahim</h1>
            <p class="text-gray-400">algorithm developer</p>
          </div>
          <div class="py-4 border-y">
            <p>
              <i class="fa-regular fa-face-smile"></i
              ><span class="ml-2">99 friends</span>
            </p>
            <p class="my-2">
              <i class="fa-solid fa-paperclip"></i
              ><span class="ml-2">15 projects</span>
            </p>
            <p>
              <i class="fa-regular fa-calendar-days"></i
              ><span class="ml-2">25 articles</span>
            </p>
          </div>
          <div class="flex items-center justify-between mt-4">
            <p class="text-gray-400 text-sm">joined 02/10/2021</p>
            <div class="flex gap-1">
              <a
                href="#"
                class="text-white text-sm py-1 px-3 bg-blue-500 rounded-lg"
                >profile</a
              >
              <a
                href="#"
                class="text-white text-sm py-1 px-3 bg-red-500 rounded-lg"
                >remove</a
              >
            </div>
          </div>
        </div>

        <div class="card">
          <div class="my-4 text-center">
            <img
              src="../image/avatar-05.png"
              alt="avatar"
              class="mx-auto rounded-full w-[100px]"
            />
            <h1 class="font-bold mt-2">mohamed ibrahim</h1>
            <p class="text-gray-400">algorithm developer</p>
          </div>
          <div class="py-4 border-y">
            <p>
              <i class="fa-regular fa-face-smile"></i
              ><span class="ml-2">99 friends</span>
            </p>
            <p class="my-2">
              <i class="fa-solid fa-paperclip"></i
              ><span class="ml-2">15 projects</span>
            </p>
            <p>
              <i class="fa-regular fa-calendar-days"></i
              ><span class="ml-2">25 articles</span>
            </p>
          </div>
          <div class="flex items-center justify-between mt-4">
            <p class="text-gray-400 text-sm">joined 02/10/2021</p>
            <div class="flex gap-1">
              <a
                href="#"
                class="text-white text-sm py-1 px-3 bg-blue-500 rounded-lg"
                >profile</a
              >
              <a
                href="#"
                class="text-white text-sm py-1 px-3 bg-red-500 rounded-lg"
                >remove</a
              >
            </div>
          </div>
        </div>

        <div class="card">
          <div class="my-4 text-center">
            <img
              src="../image/avatar-04.png"
              alt="avatar"
              class="mx-auto rounded-full w-[100px]"
            />
            <h1 class="font-bold mt-2">mohamed ibrahim</h1>
            <p class="text-gray-400">algorithm developer</p>
          </div>
          <div class="py-4 border-y">
            <p>
              <i class="fa-regular fa-face-smile"></i
              ><span class="ml-2">99 friends</span>
            </p>
            <p class="my-2">
              <i class="fa-solid fa-paperclip"></i
              ><span class="ml-2">15 projects</span>
            </p>
            <p>
              <i class="fa-regular fa-calendar-days"></i
              ><span class="ml-2">25 articles</span>
            </p>
          </div>
          <div class="flex items-center justify-between mt-4">
            <p class="text-gray-400 text-sm">joined 02/10/2021</p>
            <div class="flex gap-1">
              <a
                href="#"
                class="text-white text-sm py-1 px-3 bg-blue-500 rounded-lg"
                >profile</a
              >
              <a
                href="#"
                class="text-white text-sm py-1 px-3 bg-red-500 rounded-lg"
                >remove</a
              >
            </div>
          </div>
        </div>

        <div class="card">
          <div class="my-4 text-center">
            <img
              src="../image/avatar-03.png"
              alt="avatar"
              class="mx-auto rounded-full w-[100px]"
            />
            <h1 class="font-bold mt-2">mohamed ibrahim</h1>
            <p class="text-gray-400">algorithm developer</p>
          </div>
          <div class="py-4 border-y">
            <p>
              <i class="fa-regular fa-face-smile"></i
              ><span class="ml-2">99 friends</span>
            </p>
            <p class="my-2">
              <i class="fa-solid fa-paperclip"></i
              ><span class="ml-2">15 projects</span>
            </p>
            <p>
              <i class="fa-regular fa-calendar-days"></i
              ><span class="ml-2">25 articles</span>
            </p>
          </div>
          <div class="flex items-center justify-between mt-4">
            <p class="text-gray-400 text-sm">joined 02/10/2021</p>
            <div class="flex gap-1">
              <a
                href="#"
                class="text-white text-sm py-1 px-3 bg-blue-500 rounded-lg"
                >profile</a
              >
              <a
                href="#"
                class="text-white text-sm py-1 px-3 bg-red-500 rounded-lg"
                >remove</a
              >
            </div>
          </div>
        </div>

        <div class="card">
          <div class="my-4 text-center">
            <img
              src="../image/avatar-02.png"
              alt="avatar"
              class="mx-auto rounded-full w-[100px]"
            />
            <h1 class="font-bold mt-2">mohamed ibrahim</h1>
            <p class="text-gray-400">algorithm developer</p>
          </div>
          <div class="py-4 border-y">
            <p>
              <i class="fa-regular fa-face-smile"></i
              ><span class="ml-2">99 friends</span>
            </p>
            <p class="my-2">
              <i class="fa-solid fa-paperclip"></i
              ><span class="ml-2">15 projects</span>
            </p>
            <p>
              <i class="fa-regular fa-calendar-days"></i
              ><span class="ml-2">25 articles</span>
            </p>
          </div>
          <div class="flex items-center justify-between mt-4">
            <p class="text-gray-400 text-sm">joined 02/10/2021</p>
            <div class="flex gap-1">
              <a
                href="#"
                class="text-white text-sm py-1 px-3 bg-blue-500 rounded-lg"
                >profile</a
              >
              <a
                href="#"
                class="text-white text-sm py-1 px-3 bg-red-500 rounded-lg"
                >remove</a
              >
            </div>
          </div>
        </div>

        <div class="card">
          <div class="my-4 text-center">
            <img
              src="../image/avatar-01.png"
              alt="avatar"
              class="mx-auto rounded-full w-[100px]"
            />
            <h1 class="font-bold mt-2">mohamed ibrahim</h1>
            <p class="text-gray-400">algorithm developer</p>
          </div>
          <div class="py-4 border-y">
            <p>
              <i class="fa-regular fa-face-smile"></i
              ><span class="ml-2">99 friends</span>
            </p>
            <p class="my-2">
              <i class="fa-solid fa-paperclip"></i
              ><span class="ml-2">15 projects</span>
            </p>
            <p>
              <i class="fa-regular fa-calendar-days"></i
              ><span class="ml-2">25 articles</span>
            </p>
          </div>
          <div class="flex items-center justify-between mt-4">
            <p class="text-gray-400 text-sm">joined 02/10/2021</p>
            <div class="flex gap-1">
              <a
                href="#"
                class="text-white text-sm py-1 px-3 bg-blue-500 rounded-lg"
                >profile</a
              >
              <a
                href="#"
                class="text-white text-sm py-1 px-3 bg-red-500 rounded-lg"
                >remove</a
              >
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
